{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2>Add New Trek</h2>

    <form method="POST">

        <div class="mb-3">

            <label class="form-label">Trek Name</label>

            <input
                type="text"
                name="name"
                class="form-control"
                required>

        </div>

        <div class="mb-3">

            <label>Location</label>

            <input
                type="text"
                name="location"
                class="form-control"
                required>

        </div>

        <div class="mb-3">

            <label>Difficulty</label>

            <select
                name="difficulty"
                class="form-select">

                <option>Easy</option>
                <option>Moderate</option>
                <option>Hard</option>

            </select>

        </div>

        <div class="mb-3">

            <label>Duration (Days)</label>

            <input
                type="number"
                name="duration"
                class="form-control"
                required>

        </div>

        <div class="mb-3">

            <label>Available Slots</label>

            <input
                type="number"
                name="available_slots"
                class="form-control"
                required>

        </div>

        <div class="mb-3">

            <label>Status</label>

            <select
                name="status"
                class="form-select">

                <option>Open</option>
                <option>Closed</option>

            </select>

        </div>

        <div class="mb-3">

            <label>Start Date</label>

            <input
                type="date"
                name="start_date"
                class="form-control"
                required>

        </div>

        <div class="mb-3">

            <label>End Date</label>

            <input
                type="date"
                name="end_date"
                class="form-control"
                required>

        </div>

        <div class="mb-3">

            <label>Description</label>

            <textarea
                name="description"
                rows="4"
                class="form-control"></textarea>

        </div>

        <button
            class="btn btn-success">

            Save Trek

        </button>

        <a href="{{ url_for('admin.view_treks') }}"
           class="btn btn-secondary">

            Cancel

        </a>

    </form>

</div>

{% endblock %}